* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: rgb(0, 0, 33);
  color: white;
  font-family: "Poppins", sans-serif;
}
nav {
  z-index: 99;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: rgb(18, 18, 62);
}
.logoImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(153, 153, 226);
  font-size: 1.1rem;
}
main hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 60px 84px;
}

.left {
  font-size: 1.5rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 130px 0;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
}
.leftSection .buttons {
  padding: 50px 0;
}
.leftSection .btn {
  padding: 12px;
  background-color: #1e2167;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
}
.rightSection img {
  width: 100%;
}
.purple {
  color: rgb(170, 107, 228);
}
.text-gray {
  color: gray;
}
#element {
  color: rgb(170, 107, 228);
}

.secondSection h1 {
  font-size: 1.9rem;
}
.secondSection .box {
  background: white;
  width: 83vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  width: 1px;
  background-color: white;
  margin: 0 6vw;
}
#INTRODUCE span {
  color: rgb(29, 185, 237);
}

@media screen and (max-width: 1000px) {
  .box {
    flex-direction: column;
  }
  .secondSection .vertical {
    height: unset;
  }
  #INTRODUCE span {
    color: rgb(29, 185, 237);
  }

  nav {
    flex-direction: column;
  }
  .secondSection .box {
    width: 50vw;
  }

  .firstSection {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 50px;
    padding: 12px;
  }
  .rightSection {
    min-width: none !important;
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
  .leftSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
  }
  #INTRODUCE {
    margin-bottom: 10%;
  }
  .secondSection {
    height: 141vh;
  }
  .rightSection img {
    width: 45vw;
    margin-bottom: 73px;
  }

  .secondSection {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  #centerAbout {
    margin-top: 15%;
    margin-bottom: 20%;
    object-fit: contain;
  }
  #form {
    margin-top: 13%;
    margin-bottom: 19%;
  }
  #cantent-wrap1 {
    margin-top: 15%;
    margin-bottom: 22%;
  }
  #iteam12 {
    padding: 12px;
    margin: 78px;
  }

  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: #0ddcf1;
  }
  #number2 {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 10%; */
  }

  #number2 .cards{
    height: inherit;
    width: inherit;
  }
  #iteam12 p {
    font-size: 1.3vw;
    padding: 3%;
    text-wrap: wrap;
  }
  #iteam12 .cards-title {
    padding: 3%;
  }
  #iteam12 .cardImage img {
    width: 100%;
    height: 100%;
  }
  #iteam12 .cardImage{
    height: 27vh;
  }

  .skillcard img {
    height: auto;
    width: 100%;
    padding: 10px;
  }
  #skillid {
    width: 17%;
  }
}

@media screen and (max-width: 580px) {
  #centerAbout {
    margin-top: 60%;
    margin-bottom: 70%;
    object-fit: contain;
    object-position: center;
  }
  #offcanvasDarkNavbar {
    width: 70%;
  }
  #btn-contect {
    margin-top: 12px;
  }
  #INTRODUCE {
    margin-bottom: 60%;
  }

  #cantent-wrap1 {
    margin-top: 15%;
    margin-bottom: 22%;
  }
  #container12 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  #iteam12 p {
    font-size: 1.8vw;
    padding: 3%;
    text-wrap: wrap;
  }
  #iteam12 .cards-title {
    /* font-size: 1vw; */
    padding: 3%;
  }
  #iteam12 .cardImage img {
    width: 100%;
    height: 100%;
  }
  
  #form {
    margin-top: 35%;
    margin-bottom: 67%;
  }

  #skillid {
    width: 36%;
  }
  #number2 {
    display: block;
    /* margin: 25px; */
  }
  #cantent-wrap1 {
    margin-top: 42%;
    margin-bottom: 76%;
  }
  #intro1 {
    margin-top: 45%;
  }
  #intro {
    margin-bottom: 35%;
  }

  #footerbox {
    display: block;
  }
  #footerbox1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footerbox1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footerbox2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footerbox3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }
}
.container1 {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  justify-content: center;
  margin-bottom: 0%;
}
.container1 span {
  color: rgb(29, 185, 237);
}
.container1 h2 {
  /* margin-top: 5px; */
  padding: 10px;
}
.container2 {
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.number3 {
  display: flex;
}

.number3 .cards {
  border-radius: 20px;
  border: 2px solid #c3073f;
  width: inherit;
  height:inherit;
  overflow: hidden;
  color: #fff;
  box-shadow: 0 15px 12px #c3073f;
  backdrop-filter: blur(14px);
}
.cards .cardImage{
  /* width: 29vw; */
  height: 27vh;
}
.cards .cardImage img {
  width: 100%;
  height: 100%;
  border:2px solid #c3073f;
  border-radius: 10px;
}
.number3 .cards p {
  font-size: 0.7vw;
  padding: 3%;
}

.number3 .cards .cards-title {
  /* font-size: 0.7vw; */
  /* padding: 3%; */
  margin: 2px;
}
.cards .proButton a{
    background-color: #c3073f;
    color: #fff;
    margin: 5px;
    /* height: 5vh; */
    width: 15vh;
    padding: 7px;
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    justify-content:center;
    
}
.cards .proButton{
  display: flex;
  justify-content:space-evenly;
}

.number3 .cards:hover {
  /* background-color: #950740; */
  /* transition: background-color 0.1s ease-in-out; */
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
  opacity: 100%;
}
.iteam1 {
  padding: 12px;
  margin: 25px;
}
.iteam2 {
  padding: 12px;
  margin: 30px;
}
#workExperience span {
  color: rgb(29, 185, 237);
}
#workExperience {
  margin-bottom: 10px;
}

.form1 {
  margin-top: 12%;
  margin-bottom: 10%;
}

* {
  box-sizing: border-box;
}

form {
  /* margin-top: 10%; */
  display: block;
  background-color: 1px 1px 3px 2px #ddd;
  margin: 40px auto;
  max-width: 600px;
  max-height: 700px;
  padding: 25px 40px;
}

form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
  padding: 8px;
  font-family: "poppings";
  background-color: #f1f1f1;
  border: 1px solid #add;
}

form span {
  color: rgb(29, 185, 237);
}

form button {
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  background-color: rgb(29, 185, 237);
}

Skill,
.images {
  margin: 6% 6%;
  align-items: center;
  justify-content: center;
}
.row h1 {
  display: flex;
  justify-content: center;
}
.row span {
  color: rgb(29, 185, 237);
}

.skillcard img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.skillcard {
  width: 10%;
  border: 1px solid #c3073f;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  transition: transform 3s ease-in-out;
}

.skillcard:hover .cover {
  opacity: 1;
}
.skillcard .cover {
  align-items: center;
  border-radius: 20px;
  border: 1px solid #950740;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  background: #950740;
  transition: opacity 3s ease;
  width: 100%;
}
.skillcard .cover p {
  margin-top: 18px;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.row h2 {
  display: flex;
  justify-content: center;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: yellow;
  width: 100%;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.social a {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.social img {
  width: 22px;
}
.social span:hover .whatApp {
  opacity: 1;
}
.social .whatApp {
  border-radius: 5px;
  background-color: #950740;
  color: #000;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  padding: 0 3px;
  z-index: 1;
  bottom: 40px;
  left: 90%;
  transform: translateX(-50%);
}
.images span {
  color: #c3073f;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 33.3333333%;
  position: relative;
}
.footrow {
  padding: 20px;
  width: 100%;
}

.mainline {
  margin: 13%;
  object-fit: contain;
}

.background {
  position: relative;
  min-height: 100vh;
}
.background body {
  margin-bottom: 100%;
}
.cantent-wrap {
  margin-top: 13%;
  margin-bottom: 13%;
  width: 100%;
}

/* .container-skill{
  margin-bottom: 20%;
} */
.intro10 {
  margin-top: 4%;
}
.intro0 {
  margin-bottom: 5%;
}
